.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.jumbotron {
  box-sizing: border-box;
  height: 900px;
  background-color: lightblue;
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.answer:hover {
  background: lightgreen;
}